body {
	width:80%;
	margin:0 auto;
}

h1 {
	color:lightseagreen;
}

p {
	color:lightseagreen;
	font-size: 18px;
}
.result {
	font-size: 25px;
	color:darkcyan;
}

span{
	font-size: 35px;
	font-weight: bold;
}

button {
	color:white;
	background-color: lightseagreen;
	border-radius: 5px;
	padding:8px;
	margin-top: 10px;
}

img {
	width:100%;
}